### Convert *.tsv* into *.csv*

In [91]:
import re
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

### Let's do some preprocessing
**The long lat column should be converted into 2 seperate columns**

In [6]:
dataset = pd.read_csv('C:\\Users\\zbook\\OneDrive - UIR\\UIR\\S8\\SpatialData\\Geomatics_projects_experiments\\morocco_tbcov\\morocco_tbcov.tsv', delimiter='\t')

C:\Users\zbook\AppData\Local\Temp\ipykernel_10476\2700764299.py:1: DtypeWarning: Columns (14,15,24) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('C:\\Users\\zbook\\OneDrive - UIR\\UIR\\S8\\SpatialData\\Geomatics_projects_experiments\\morocco_tbcov\\morocco_tbcov.tsv', delimiter='\t')

In [10]:
dataset.columns

Index(['tweet_id', 'date_time', 'lang', 'user_id', 'retweeted_id', 'quoted_id',
       'in_reply_to_id', 'sentiment_conf', 'sentiment_label', 'user_type',
       'gender_label', 'tweet_text_named_entities', 'geo_coordinates_lat_lon',
       'geo_country_code', 'geo_state', 'geo_county', 'geo_city',
       'place_bounding_box', 'place_country_code', 'place_state',
       'place_county', 'place_city', 'user_loc_toponyms',
       'user_loc_country_code', 'user_loc_state', 'user_loc_county',
       'user_loc_city', 'user_profile_description_toponyms',
       'user_profile_description_country_code',
       'user_profile_description_state', 'user_profile_description_county',
       'user_profile_description_city', 'tweet_text_toponyms',
       'tweet_text_country_code', 'tweet_text_state', 'tweet_text_county',
       'tweet_text_city'],
      dtype='object')

In [12]:
dataset.head()

,tweet_id,date_time,lang,user_id,retweeted_id,quoted_id,in_reply_to_id,sentiment_conf,sentiment_label,user_type,...,user_profile_description_toponyms,user_profile_description_country_code,user_profile_description_state,user_profile_description_county,user_profile_description_city,tweet_text_toponyms,tweet_text_country_code,tweet_text_state,tweet_text_county,tweet_text_city
0,1223397292583145472,2020-02-01T00:06:58,en,1106997670961397761,1.223396e+18,NaN,NaN,0.732,0,PERCENT,...,NaN,NaN,NaN,NaN,NaN,['China'],['CN'],['UNK'],['UNK'],['UNK']
1,1223398070160744448,2020-02-01T00:10:04,en,846987896565485568,1.223190e+18,NaN,NaN,0.725,-1,UNK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1223399250005880833,2020-02-01T00:14:45,en,846987896565485568,1.223055e+18,NaN,NaN,0.903,-1,UNK,...,NaN,NaN,NaN,NaN,NaN,['china'],['CN'],['UNK'],['UNK'],['UNK']
3,1223400059066339333,2020-02-01T00:17:58,en,4823099225,1.223055e+18,NaN,NaN,0.903,-1,UNK,...,NaN,NaN,NaN,NaN,NaN,['china'],['CN'],['UNK'],['UNK'],['UNK']
4,1223400235009003521,2020-02-01T00:18:40,en,910954982689710080,1.223398e+18,NaN,NaN,0.491,-1,ORG,...,NaN,NaN,NaN,NaN,NaN,"['Wuhan', 'the United States']","['CN', 'US']","['Hubei', 'UNK']","[""Jiang'an District"", 'UNK']","['Wuhan', 'UNK']"

In [81]:
# remove NaN values
clean_geo_coord = dataset.dropna(subset=['geo_coordinates_lat_lon'], inplace=False)
clean_geo_coord.geo_coordinates_lat_lon.head()

13387        [37.978224, -121.768525]
32592      [33.58655958, -7.63253689]
41492    [34.41137695, -118.56079806]
42574              [35.7611, -5.8192]
46327        [38.019586, -121.941103]
Name: geo_coordinates_lat_lon, dtype: object

In [99]:
# format the lat lon column into 2
latitude = []
longitude = []
for coord in clean_geo_coord.geo_coordinates_lat_lon:
    coord = coord.replace('[', '')
    coord = coord.replace(']', '')
    lat, lon = coord.split(',')
    latitude.append(lat)
    longitude.append(lon)

In [103]:
# add 2 new columns : lat and lon
clean_geo_coord['geo_coord_latitude'] = latitude
clean_geo_coord['geo_coord_longitude'] = longitude

clean_geo_coord = clean_geo_coord.astype({'geo_coord_latitude' : float})
clean_geo_coord = clean_geo_coord.astype({'geo_coord_longitude' : float})

clean_geo_coord[['geo_coord_latitude', 'geo_coord_longitude']].head()

       geo_coord_latitude  geo_coord_longitude
13387           37.978224          -121.768525
32592           33.586560            -7.632537
41492           34.411377          -118.560798
42574           35.761100            -5.819200
46327           38.019586          -121.941103

In [104]:
clean_geo_coord.to_csv('C:\\Users\\zbook\\OneDrive - UIR\\UIR\\S8\\SpatialData\\Geomatics_projects_experiments\\morocco_tbcov\\clean_morocco_tbcov.csv')

Let's first try to :
1. plot points based on lat and lon that we have 
2. plot regions based on location data we have (country, region, address...)